# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

############################ - FULLSTACK/EITHER - ############################

# IDE
**/.idea
**/.vscode

# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.*

# macOS
.DS_Store
*.pem

############################ - BACKEND - ############################

# Python virtual environments
**/env
**/venv

# caches
**/__pycache__

############################ - FRONTEND - ############################

# testing
/coverage

# next.js
/.next/
/out/
/false
next-env.d.ts

# react native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# metro
.metro-health-check*

# Example apps
app-example

# production
/build

# env files (can opt-in for committing if needed)
.env*
.env*.local
!.env.local.sample

# typescript
*.tsbuildinfo

# vercel
.vercel

############################ - PROJECT-SPECIFIC - ############################

# Optional
# **/.cursor

# Project-specific
**/.resources
**/.top_level
app-example
