# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

############################ - FULLSTACK/EITHER - ############################

# IDE
**/.idea
**/.vscode

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# macOS
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

############################ - BACKEND - ############################

# Python virtual environments
**/env
**/venv

# caches
**/__pycache__

############################ - FRONTEND - ############################

# testing
/coverage

# next.js
/.next/
/out/
/false

# react native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# expo
.expo/
dist/
web-build/

# metro
.metro-health-check*

# Example apps
app-example

# production
/build

# env files (can opt-in for committing if needed)
.env*
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
expo-env.d.ts

# vercel
.vercel

############################ - PROJECT-SPECIFIC - ############################

# Optional
# **/.cursor

# Project-specific
**/.resources
**/.top_level
